{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css.css' %}">

</head>


<body>
    <div class="container">
        <h3 class=" text-center">{{room_name}}</h3>
        <div class="messaging">
            <div class="inbox_msg">

                <div class="mesgs">
                    <div class="msg_history" id="psevdo-chat">


                        <div class="incoming_msg">
                            <div class="received_msg">
                                <div class="received_withd_msg">
                                    <p>Test which is a new approach to have all
                                        solutions</p>
                                    <span class="time_date"> 11:01 AM | June 9</span>
                                </div>
                            </div>
                        </div>

                        <div class="outgoing_msg">
                            <div class="sent_msg">
                                <p>Test which is a new approach to have all
                                    solutions</p>
                                <span class="time_date"> 11:01 AM | June 9</span>
                            </div>
                        </div>



                    </div>

                    <div class="type_msg">
                        <div class="input_msg_write">
                            <input id="new_message" type="text" class="write_msg" placeholder="Type a message" />
                            <button id="submitButton" class="msg_send_btn" type="button"><i class="fa fa-paper-plane-o"
                                    aria-hidden="true"></i></button>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>



    <script>
        function get_newDate() {
            let date = new Date();
            let yesr_moth_day = `${(date.getDate() > 10) ? date.getDate() : +'0' + date.getDate()}.${(date.getMonth() + 1 > 10) ? date.getMonth() + 1 : '0' + (date.getMonth() + 1)}.${date.getFullYear()}` // `${date.getFullYear()}-${date.getMonth()+1}-${date.getDate()}`
            return yesr_moth_day + ` ${(date.getHours() > 10) ? date.getHours() : '0' + date.getHours()}:${(date.getMinutes() > 10) ? date.getMinutes() : '0' + date.getMinutes()}`
        }
        var audio = new Audio('/media/default/notification.mp3'); // Укажите путь к вашему звуковому файлу
        function showNotification(nickname, room_name, message) {
            if ('Notification' in window) {
                if (Notification.permission === 'granted') {
                    var notification = new Notification(`Новое сообщение в чате: ${room_name}`, {
                        body: `[${get_newDate()}] ${nickname} : ${message}`,
                    });
                    notification.onclick = function () {
                        console.log('Уведомление было кликнуто');
                    };
                } else if (Notification.permission !== 'denied') {
                    Notification.requestPermission().then(function (permission) {
                        if (permission === 'granted') {
                            var notification = new Notification(`Новое сообщение в чате: ${room_name}`, {
                                body: `[${get_newDate()}] ${nickname} : ${message}`,
                            });
                            notification.onclick = function () {
                                console.log('Уведомление было кликнуто');
                            };
                        }
                    });
                }
            } else {
                console.log('Уведомления Push не поддерживаются в этом браузере.');
            }
        }


        function updateData(data) {
            document.getElementById("psevdo-chat").innerHTML = `
            <p> [${get_newDate()}] ${data['nickname']} : ${data['message']} <p> <br>
            ` + document.getElementById("psevdo-chat").innerHTML
            if (data['nickname'] != '{{nickname}}')
                showNotification(data['nickname'], '{{room_name}}', data['message'])

        }
        function connect() {
            if ("WebSocket" in window) {
                let chatSocket = new WebSocket("wss://" + window.location.host + "/ws/chat/" + "room_{{ room_name }}/");
                chatSocket.onopen = function (event) {
                    console.log("Successfully connected to the WebSocket.");
                }
                chatSocket.onmessage = function (event) {
                    const data = JSON.parse(event.data);
                    console.log('Received data:', data);
                    console.log("data в функции connect", data)
                    if (data['nickname'] != '{{nickname}}') audio.play();
                    updateData(data)
                }
                chatSocket.onclose = function (event) {
                    console.log("WebSocket connection closed unexpectedly. Trying to reconnect in 2s...");
                    setTimeout(function () {
                        console.log("Reconnecting...");
                        connect()
                    }, 2000);
                }
                function sendData(new_message) {
                    if (chatSocket.readyState === WebSocket.OPEN) {
                        data = {
                            'message': new_message,
                            'nickname': '{{ nickname }}'
                        }
                        chatSocket.send(JSON.stringify(data));
                    } else {
                        console.error('WebSocket connection is not open.');
                    }
                }
            } else {
                console.error("WebSocket is not supported by your browser.");
            }
            document.getElementById("submitButton").addEventListener("click", function (event) {
                event.preventDefault(); //
                let new_message = document.getElementById("new_message").value
                if (new_message != "") sendData(new_message)
                document.getElementById("new_message").value = ""

            });
        }

        connect()

    </script>
</body>

</html>


