{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</head>


<body class="px-4">
    <div class="row">
        <div class="col-12">
            <div class="text-center">
                <h3 class="text-center">Комната - {{room_name}}</h3>
            </div>
            <div class="col-12" id="psevdo-chat" style="height: 80vh;">


            </div>

            <form class="col-12 row mt-4">
                <input id="new_message" type="text" class="form-control col-10" placeholder="Type a message" />
                <button id="submitButton" class="btn btn-primary col-2" type="submit">
                    <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                </button>
            </form>

        </div>
    </div>

    
    <script>
        function get_newDate() {
            let date = new Date();
            let yesr_moth_day = `${(date.getDate() > 10) ? date.getDate() : +'0' + date.getDate()}.${(date.getMonth() + 1 > 10) ? date.getMonth() + 1 : '0' + (date.getMonth() + 1)}.${date.getFullYear()}` // `${date.getFullYear()}-${date.getMonth()+1}-${date.getDate()}`
            return yesr_moth_day + ` ${(date.getHours() > 10) ? date.getHours() : '0' + date.getHours()}:${(date.getMinutes() > 10) ? date.getMinutes() : '0' + date.getMinutes()}`
        }
        var audio = new Audio('/media/default/notification.mp3'); // Укажите путь к вашему звуковому файлу
        function showNotification(nickname, room_name, message) {
            if ('Notification' in window) {
                if (Notification.permission === 'granted') {
                    var notification = new Notification(`Новое сообщение в чате: ${room_name}`, {
                        body: `[${get_newDate()}] ${nickname} : ${message}`,
                    });
                    notification.onclick = function () {
                        console.log('Уведомление было кликнуто');
                    };
                } else if (Notification.permission !== 'denied') {
                    Notification.requestPermission().then(function (permission) {
                        if (permission === 'granted') {
                            var notification = new Notification(`Новое сообщение в чате: ${room_name}`, {
                                body: `[${get_newDate()}] ${nickname} : ${message}`,
                            });
                            notification.onclick = function () {
                                console.log('Уведомление было кликнуто');
                            };
                        }
                    });
                }
            } else {
                console.log('Уведомления Push не поддерживаются в этом браузере.');
            }
        }


        function updateData(data) {
            let default_usercolors = [
                "red",
                "blue",
                "green",
                "yellow",
                "orange",
                "purple",
                "pink",
                "seagreen",
                "turquoise",
                "crimson",
                "teal",
                "indigo",
                "lavender",
                "lavenderblush",
                "lightcoral",
                "lightsalmon",
                "lightseagreen",
                "lightskyblue",
                "lightslategray",
                "lightsteelblue",
                "lightyellow",
                "lime",
                "magenta",
                "maroon",
                "mediumaquamarine",
                "mediumblue",
                "mediumorchid",
                "mediumpurple",
                "mediumseagreen",
                "mediumslateblue",
                "mediumspringgreen",
                "mediumturquoise",
                "mediumvioletred",
                "midnightblue",
                "mintcream",
                "mistyrose",
                "moccasin",
                "navajowhite",
                "navy",
                "oldlace",
                "olive",
                "orangered",
                "orchid",
                "palegoldenrod",
                "palegreen",
                "paleturquoise",
                "palevioletred",
                "papayawhip",
                "peachpuff",
                "peru",
                "plum",
                "powderblue",
                "purple",
                "rebeccapurple",
                "red",
                "rosybrown",
                "royalblue",
                "saddlebrown",
                "salmon",
                "sandybrown",
                "seagreen"
            ] 

            // get random color
            let color = default_usercolors[Math.floor(Math.random() * default_usercolors.length)]
            let usercolors = localStorage.getItem("usercolors");
            let user_color = undefined
            try{
                user_color = JSON.parse(usercolors)[data['nickname']]
            }catch(e){
                user_color = color
                usercolors[data['nickname']] = color
                localStorage.setItem("usercolors", JSON.stringify(usercolors))
            }
            
            document.getElementById("psevdo-chat").innerHTML += `
            <p> [${get_newDate()}] ${data['nickname']} : ${data['message']} <p> <br>
            
                <div class="media text-muted pt-3 mt-1">
                    <img data-src="" class="mr-2 rounded" style="width: 32px; height: 32px; background-color: ${user_color};"
                        data-holder-rendered="true">
                    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                        <strong class="d-block text-gray-dark">@${data["nickname"]} [${get_newDate()}]</strong>
                        ${data["message"]}
                    </p>
                </div>
            `
            if (data['nickname'] != '{{nickname}}')
                showNotification(data['nickname'], '{{room_name}}', data['message'])

        }
        function connect() {
            if ("WebSocket" in window) {
                let chatSocket = new WebSocket("wss://" + window.location.host + "/ws/chat/" + "room_{{ room_name }}/");
                chatSocket.onopen = function (event) {
                    console.log("Successfully connected to the WebSocket.");
                }
                chatSocket.onmessage = function (event) {
                    const data = JSON.parse(event.data);
                    console.log('Received data:', data);
                    console.log("data в функции connect", data)
                    if (data['nickname'] != '{{nickname}}') audio.play();
                    updateData(data)
                }
                chatSocket.onclose = function (event) {
                    console.log("WebSocket connection closed unexpectedly. Trying to reconnect in 2s...");
                    setTimeout(function () {
                        console.log("Reconnecting...");
                        connect()
                    }, 2000);
                }
                function sendData(new_message) {
                    if (chatSocket.readyState === WebSocket.OPEN) {
                        data = {
                            'message': new_message,
                            'nickname': '{{ nickname }}'
                        }
                        chatSocket.send(JSON.stringify(data));
                    } else {
                        console.error('WebSocket connection is not open.');
                    }
                }
            } else {
                console.error("WebSocket is not supported by your browser.");
            }
            document.getElementById("submitButton").addEventListener("click", function (event) {
                event.preventDefault(); //
                let new_message = document.getElementById("new_message").value
                if (new_message != "") sendData(new_message)
                document.getElementById("new_message").value = ""

            });
        }

        connect()

    </script>
</body>

</html>